<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="https://github.com/cosmic-cortex/modAL">
          <img src="img/modAL.png" alt="modAL"></img>
        </a>
      </h1>
      <p class="lead">A modular active learning framework for Python3</p>
    </div>

    <nav class="sidebar-nav">
      <b>Overview</b>
        <a class="sidebar-nav-item" href="index">modAL in a nutshell</a>
        <a class="sidebar-nav-item" href="Installation">Installation</a>
        <a class="sidebar-nav-item" href="https://github.com/cosmic-cortex/modAL">Source</a>
      <b>Models</b>
        <a class="sidebar-nav-item" href="ActiveLearner">ActiveLearner</a>
        <a class="sidebar-nav-item" href="BayesianOptimizer">BayesianOptimizer</a>
        <a class="sidebar-nav-item" href="Committee">Committee</a>
        <a class="sidebar-nav-item" href="CommitteeRegressor">CommitteeRegressor</a>
      <b>Query strategies</b>
        <a class="sidebar-nav-item" href="Acquisition-functions">Acquisition functions</a>
        <a class="sidebar-nav-item" href="Uncertainty-sampling">Uncertainty sampling</a>
        <a class="sidebar-nav-item" href="Disagreement-sampling">Disagreement sampling</a>
        <a class="sidebar-nav-item" href="Extending-modAL">Extending modAL</a>
      <b>Examples</b>
        <a class="sidebar-nav-item" href="Pool-based-sampling">Pool-based sampling</a>
        <a class="sidebar-nav-item" href="Stream-based-sampling">Stream-based sampling</a>
        <a class="sidebar-nav-item" href="Active-regression">Active regression</a>
        <a class="sidebar-nav-item" href="Ensemble-regression">Ensemble regression</a>
        <a class="sidebar-nav-item" href="Bayesian-optimization">Bayesian optimization</a>
        <a class="sidebar-nav-item" href="Query-by-committee">Query by committee</a>
        <a class="sidebar-nav-item" href="Bootstrapping-and-bagging">Bootstrapping and bagging</a>
        <a class="sidebar-nav-item" href="Keras-integration">Keras integration</a>
      <!-- <b>API reference</b>
        <a class="sidebar-nav-item" href="Models-API">modAL.models</a>
        <a class="sidebar-nav-item" href="Uncertainty-sampling-API">modAL.uncertainty</a>
        <a class="sidebar-nav-item" href="Disagreement-sampling-API">modAL.disagreement</a> -->
    </nav>

    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      modAL is created by <a href="https://www.tivadardanka.com">Tivadar Danka</a>, aka <a href="https://github.com/cosmic-cortex">cosmic-cortex</a>.
      The awesome <a href="http://hyde.getpoole.com/">theme</a> is by <a href="https://twitter.com/mdo">@mdo</a>.
      <div class="nav3" style="height:60px;">
        <a href="https://github.com/cosmic-cortex/modAL" class="icons"><img src="img/github.png" style="height: 60px;"></img></a>
        <a href="https://twitter.com/TivadarDanka" class="icons"><img src="img/twitter.png" style="height: 60px;"></img></a>
      </div>
    </p>
  </div>
</div>
